<!-- Content-->
<div id="homeFirstRow" class="container-fluid bg bg-main">
    <div id="" class="container-fluid content-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <img src="images/Henrik_Edlund_Logo_White.png" class="img-responsive center-block animated fadeIn" id="logo" alt="banner">
            </div>
        </div>
        <div id="buttonFadeIn">

            <div class="row test">
                <div class="col-sm-12 text-center logotextcontainer">
                <animate-text input-text='CODER, UX DESIGNER, UI PROTOTYPER AND COMPUTER ENTHUSIAST'></animate-text>
                
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="default" class="btn btn-default btn-lg lead-buttons animated fadeInUp call-to-action">Curriculum Vitae</button>
                    <button id="staggeredCallToAction" type="default" class="btn btn-default btn-lg lead-buttons animated fadeInUp call-to-action">Project Portfolio</button>
                </div>
            </div>
        </div>
    </div>
</div>