<!-- Content Resume-->
<div class="container content-wrapper">
    <div id="resumeFirstRow" class="row">
        <div class="col-12-sm text-center">
            <h2 id="headerQuote" >Find out what I've accomplished</h2>
            <h1 id="headerTitle" >Explore my experiences</h1>
        </div>
    </div>
</div>
<div class="container">

    <div class="row cards">
        <div class="col-md-3  card-blue">
            <h2>Henrik EDLUND</h2>
            I'm a 24 year old user experience designer, programmer and recent engineering graduate from Sweden.
        </div>
        <div class="col-md-6  card-yellow">
            <h2>Henrik EDLUND</h2>
            I'm a 24 year old user experience designer, programmer and recent engineering graduate from Sweden.
        </div>
        <div class="col-md-3  card-green">
            <h2>Henrik EDLUND</h2>
            I'm a 24 year old user experience designer, programmer and recent engineering graduate from Sweden.
        </div>
    </div>
</div>