<!-- Content Resume-->
<div class="container-fluid bg bg-portfolio content-wrapper">
    <div id="resumeFirstRow" class="row">
        <div class="col-12-sm text-center">
            <h2 id="headerQuote">Go through my passion projects</h2>
            <h1 id="headerTitle">Portfolio</h1>
        </div>
    </div>
    <div class="container">
        <div class="row cards">
            <div class="col-md-12  card-blue">
                <h1>Prototyping projects</h1>
                <div class="row ">
                    <div class="col-xs-4 text-center">
                        <img src="images/Upscale.png" class="img-responsive animated fadeIn" alt="banner">
                        <h4>Upscale Markets</h4>
                        <h6>A shopping application prototype for scanning goods and navigating the store.</h6>
                    </div>
                    <div class="col-xs-4 text-center">
                        <img src="images/SBR.png" class="img-responsive animated fadeIn" alt="banner">
                         <h4>Skill based routing</h4>
                        <h6>Interface design as part of my master thesis project for setup and use of a skill based routing system.</h6>
                    </div>
                </div>
            </div>

        </div>
        <div class="row cards">
            <div class="col-md-12  card-red">
                <h1>Coding projects</h1>
                <div class="row ">
                    <div class="col-xs-4 text-center">
                        <i class="devicon-github-plain"></i>
                        <h4>PoliFol</h4>
                        <h6>Communication platform for politicians, based of the Swedish parliment open data platform. Project to learn Angular 2. A collaboration project together with a friend.</h6>
                    </div>
                    <div class="col-xs-4 text-center">
                        <i class="devicon-github-plain">s</i>
                         <h4>This website</h4>
                        <h6>Started off as a project to learn AngularJS and freshen up my web development skills.</h6>
                    </div>
                    <div class="col-xs-4 text-center">
                        <i class="devicon-github-plain"></i>
                         <h4>Hostile Takeover</h4>
                        <h6>School project. GPS based zone capture game for Android.</h6>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-4 text-center">
                        <i class="devicon-github-plain"></i>
                        <h4>Polisen</h4>
                        <h6>School project. Android application prototype for reporting crimes to the Swedish police.</h6>
                    </div>
                    <div class="col-xs-4 text-center">
                        <i class="devicon-github-plain"></i>
                         <h4>Accessability Map</h4>
                        <h6>School project. An android application prototype to see and create reviews for the accesability of building and businesses.</h6>
                    </div>
                    <div class="col-xs-4 text-center">
                        <i class="devicon-github-plain"></i>
                         <h4>Battle Stars</h4>
                        <h6>School project. Realtime multiplayer game in 2D fashion. Written in Java.</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>