<!-- Content Resume-->
<div class="container-fluid content-wrapper">
    <div id="resumeFirstRow" class="row">
        <div class="col-12-sm">
            <h1 class="text-center">Resume</h1>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <h1 class="text-center">Interaction design</h1>
        <div class="col-sm-4 text-center">
            <h2>HenrikEdlund</h2>
            <h3>Ux desginer and programmer</h3>
            I'm a 24 year old user experience designer, programmer and recent engineering graduate from Sweden.

        </div>
        <div class="col-sm-8 text-center">
            <ng-gauge size="100" type="semi" thick="10" value="68.2" cap="round" label="Speed"  foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
            <ng-gauge size="100" type="semi" thick="10" value="68.2" cap="round" label="Speed"  foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
            <ng-gauge size="100" type="semi" thick="10" value="68.2" cap="round" label="Speed"  foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>

            </div>


        </div>
    </div>