<!-- Content Resume-->
<div class="container-fluid bg bg-portfolio content-wrapper">
    <div id="resumeFirstRow" class="row">
        <div class="col-12-sm text-center">
            <h2 id="headerQuote">Go through my passion projects</h2>
            <h1 id="headerTitle">Portfolio</h1>
        </div>
    </div>
    <div class="container">
        <div class="row cards">
            <div class="col-md-12  card-blue">
                <h1>Coming soon..</h1>
            </div>

        </div>
    </div>
</div>