<!-- Content Conect-->
<div class="container-fluid bg bg-contact content-wrapper">
    <div id="resumeFirstRow" class="row">
        <div class="col-12-sm text-center">
            <h2 id="headerQuote">Seen something you like?</h2>
            <h1 id="headerTitle">Get in touch</h1>
        </div>
    </div>
    <div class="container card-container">

        <div class="row cards">
            <div class="col-sm-8  card-blue">
                <h3>Contact options</h3>
                        <div class="media">
                            <div class="media-left">
                                <a href="https://www.linkedin.com/in/hpedlund/">
                                    <img class="media-object" src="images/LinkedIn_logo.png" alt="LinkedIn">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Send me a message!</h4>
                                Are you looking for a developer or saw something else you liked? Don't hesiste to send me a message on LinkedIn!
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="https://github.com/AlbinoArtist">
                                    <img class="media-object" src="images/GitHub_logo.png" alt="LinkedIn">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Check out my Github!</h4>
                                Most of my projects are avaliable on Github as well.
                            </div>
                        </div>
                        
            </div>
            <div class="col-sm-4  card-red">
            <h3>Looking for a developer?</h3>
                
                I am currently looking for work in Liechstenstein and eastern Switzerland.
                Feel free to contact me with any interseting software or UI/UX development positions.
            </div>

        </div>
    </div>
</div>