<!-- Content Resume-->
<div class="container content-wrapper">
    <div id="resumeFirstRow" class="row">
        <div class="col-12-sm text-center">
            <h2 id="headerQuote">Find out what I've accomplished</h2>
            <h1 id="headerTitle">Explore my experiences</h1>
        </div>
    </div>
</div>
<div class="container card-container">

    <div class="row cards">
        <div class="col-md-8  card-blue">
            <h2>HENRIK EDLUND</h2>
            I'm a 24 year old user experience designer, programmer and recent engineering graduate from Sweden.
        </div>
        <div class="col-md-4  card-green">
            <h4>About</h4>
            <i class="mdi mdi-cake" aria-hidden="true"></i> 24<br/>
            <i class="mdi mdi-account-location" aria-hidden="true"></i> Swedish<br/>
            <i class="mdi mdi-battery-charging-80" aria-hidden="true"></i> Skiing, Traveling, Music, Tech<br/>


        </div>
    </div>
    <div class="row cards">
        <div class="col-lg-12  card-yellow skill text-center">
            <div class="row cards skill">
                <div class="col-md-2 skill">
                    <ng-gauge size="100" type="arch" thick="5" value="68.2" cap="round" label="Angular" foreground-color="#fff" background-color="rgba(255,255,255, 0.4)"
                        append="%"></ng-gauge>
                    <br/>test to keep together
                </div>
                <div class="col-md-2 skill">
                    <ng-gauge size="100" type="arch" thick="5" value="68.2" cap="round" label="Angular" foreground-color="#fff" background-color="rgba(255,255,255, 0.4)"
                        append="%"></ng-gauge>
                    <br/>test to keep together
                </div>
                <div class="col-md-2 skill">
                    <ng-gauge size="100" type="arch" thick="5" value="68.2" cap="round" label="Angular" foreground-color="#fff" background-color="rgba(255,255,255, 0.4)"
                        append="%"></ng-gauge>
                    <br/>test to keep together
                </div>
                <div class="col-md-2 skill">
                    <ng-gauge size="100" type="arch" thick="5" value="68.2" cap="round" label="Angular" foreground-color="#fff" background-color="rgba(255,255,255, 0.4)"
                        append="%"></ng-gauge>
                    <br/>test to keep together
                </div>
                <div class="col-md-2 skill">
                    <ng-gauge size="100" type="arch" thick="5" value="68.2" cap="round" label="Angular" foreground-color="#fff" background-color="rgba(255,255,255, 0.4)"
                        append="%"></ng-gauge>
                    <br/>test to keep together
                </div>
                <div class="col-md-2 skill">
                    <ng-gauge size="100" type="arch" thick="5" value="68.2" cap="round" label="Angular" foreground-color="#fff" background-color="rgba(255,255,255, 0.4)"
                        append="%"></ng-gauge>
                    <br/>test to keep together
                </div></div>
            </div>


        </div>



        <div class="row cards">
            <div class="col-sm-6  card-red">
                <h2>PUBLICATIONS</h2>
                Master thesis in Design Sciences: A model and interface for Skill Based Routing <br/> IEEE ISMAR 2017: AR
                as a User Interface for The Internet of Things - Comparing Three Interaction Models
            </div>
            <div class="col-sm-6  card-blue">
                <h2>LANGUAGES</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Swedish</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%">
                                100%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>English</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                style="width: 90%">
                                90%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>German</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                style="width: 40%">
                                40%
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="row cards">
            <div class="col-lg-12  card-yellow">
                <section class="block-content t-block-teal l-block-spacing">
                    <div class="l-contained">
                        <header class="heading-group">
                            <h2>TIMELINE</h2>
                            <p class="subtitle">
                                My recent involvements
                            </p>
                        </header>

                        <ul class="timeline-list">
                            <li>
                                <div class="content">
                                    <h3>2017 Graduated M.Sc. Engieering</h3>
                                    <p>
                                        Information and Communication Technologies - Usability and Design<br/> Faculty of
                                        Technology - Lund University
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <h3>2017 Master thesis</h3>
                                    <p>
                                        Skill Based Routing in PBX systems <br/> Department of Design Sciences and Telavox
                                        AB
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <h3>2016 Techical Manager</h3>
                                    <p>
                                        Summer internship<br/> Gate2payments - Copenhagen
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <h3>2016 Exchange Studies</h3>
                                    <p>
                                        Information Systems, Requirements Engineering, Economics<br/> University of Waterloo,
                                        Canada

                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="content">
                                    <h3>2012 Enrolled M. Sc. Engineering</h3>
                                    <p>
                                        Information and Communication Technologies - Usability and Design Faculty of Technology - Lund University
                                    </p>
                                </div>
                            </li>
                        </ul>



                    </div>

                </section>

            </div>
        </div>

    </div>